<div class="container">
    <div class="content-first">
      <h1> <span appHover1 style="color: aliceblue;">About The Company</span></h1>
      <p style="font-family: 'Times New Roman';font-size: 18px; color: aliceblue;">
        Welcome to <b style="color: gold;">Abhay Events</b>, your trusted partner in event planning and decoration.  
        we specialize in creating unforgettable experiences through meticulous event management and innovative decoration. 
       <br> With years of expertise in the industry, our team is dedicated to transforming your vision into reality, whether it’s an
        intimate gathering, corporate function, or a grand celebration.
      <br>  We pride ourselves on our personalized approach, ensuring every detail reflects your style and preferences. From conceptualization to execution,
       we handle all aspects of event planning, including venue selection, design, logistics, and coordination.
      <br>Our commitment to excellence guarantees seamless and stress-free events that leave lasting memories for you and your guests.
      <br>At Abhay Events, we believe that every event is a unique opportunity to celebrate life’s special moments.
       Let us bring your ideas to life and make your next event truly remarkable!
      </p>
    </div>
    
    <div class="image-grid">
      <div class="image-item">
        <img src="../../assets/img/About3.jpg" alt="Image 1" style="height: 200px;">
      </div>
      <div class="image-item">
        <img src="../../assets/img/About4.jpg" alt="Image 2" style="height: 200px;">
      </div>
      <div class="image-item">
        <img src="../../assets/img/na4.jpg" alt="Image 3" style="height: 200px;">
      </div>
      <div class="image-item">
        <img src="../../assets/img/Stage2.jpg" alt="Image 4" style="height: 200px;">
      </div>
    </div>
    
    <div class="content-later">
      
      <p style="font-family: 'Times New Roman';font-size: 18px; color: aliceblue;"> 
        We have successfully guided numerous clients through event planning transitions, from intimate gatherings to large-scale celebrations, by providing personalized design consultations and creative solutions.
        Through our event consulting services, we have helped businesses and individuals implement innovative decor ideas and improve their event planning processes, resulting in unforgettable experiences and competitive advantages.
<br>
        Around <b style="color: green;">98% of clients are fully satisfied.</b> . The most luxurious event was hosted with a budget 
        of  around <b style="color:blueviolet;">15 lakhs</b> ,<b>while  the lowest is around 10,000</b>,<b style="color: goldenrod;">and  average event budget of 3 Lakhs</b> .
     
        We provide training to aspiring event planners, teaching them how to design and execute end-to-end event experiences,
         including decor, ambiance, and guest engagement. The courses cover topics such as event theme creation, budget management,
          floral design, lighting, and venue styling.
    </p>
    </div>
  </div>
  
