<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">Celebration Stage </h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>
    <p style="color: aliceblue;">The price of decoration services, including selfie stand setups,
         can seasonally vary based on demand. During peak times such as holidays, wedding seasons, 
         or festive events, prices often rise due to higher demand for materials and labor. In contrast, 
         during off-peak seasons, discounts and promotions may be available, making decorations more affordable.
          The availability of seasonal flowers, props, and themed elements can also influence pricing. 
          Overall, the cost of decorations is dynamic and tends to fluctuate with the event calendar and market
           trends.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of all" [src]="course"></app-decoration-card>
    </div>
