<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">Coconut Chappraa 🍃</h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>

    <p style="color: aliceblue;">Coconut leaves are often used in traditional and festive decorations due to their 
        natural beauty and versatility. 
        Their long, slender fronds can be woven into intricate patterns to create stunning arches,
         garlands, and even wall hangings. In many cultures, they symbolize prosperity and are used in weddings,
         religious ceremonies, and outdoor events to bring a tropical and eco-friendly touch to the decor. 
         Their green color adds a refreshing, organic feel to any setting, blending nature with celebration.
    </p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of cocleaves" [src]="course"></app-decoration-card>
    </div>
    