<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h2>Abhay </h2>
        <h3>Events</h3>
        <p class="footer-tagline">Where Celebration meets real-world needs.</p>
      </div>
      <!-- <div class="footer-section"> -->
        <!-- <h3> Links</h3>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']" routerLinkActive="active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active" href="#">About-Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/decoration']" routerLinkActive="active" href="#">Decoration</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" href="#">Contact-Us</a>
            </li>
          </ul> -->
      <!-- </div> -->
      <div class="footer-section">
        <h3>Get in Touch</h3>
        <ul class="contact-info">
          <li><i class="fa fa-envelope"></i> <a href="mailto:abhaybgarwad212@gmail.com">abhaybgarwad&#64;gmail.com</a></li>
          <!-- <li><i class="fa fa-phone"></i> <a href=#>+91-9986972400</a></li>
          <li><i class="fa fa-phone"></i> <a href=#>+91 9448248344</a></li> -->
          <li>
            <i class="fa fa-phone"></i>
            <a href="tel:+919986972400">+91-9986972400</a>
        </li>
        <li>
            <i class="fa fa-phone"></i>
            <a href="tel:+919448248344">+91 9448248344</a>
        </li>
          <!-- <li><i class="fa fa-envelope"></i> <a href="mailto:sigma@apnacollege.in">sigma&#64;apnacollege.in</a></li> -->
          <li>Support Team: 12am-12pm</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 style="text-align: center;">Connect with Us</h3>
        <ul class="social-links">
          <!-- <li><a href="https://www.linkedin.com/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li> -->
          <li><a href="https://youtube.com/@abhaygarwad3240?si=YHG62IhTl7bsdwSb" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="https://www.facebook.com/abhay.garwad.98?mibextid=ZbWKwL" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/abhay_events_44?igsh=Zjl0YTZwdzk1a2Rn" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.instagram.com/abh_ay_gar_wad?igsh=MXhhbHJ1ZHdlbm85cw==" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; Copyright 2024</p>
    </div>
  </footer>
  