<div class="banner">

    <div class="slider" style="--quantity: 10">
    
    <div class="item" style="--position: 1"><img src="../../assets/img/coll4.jpg" alt=""></div>
     <div class="item" style="--position: 2"><img src="../../assets/img/nav2.jpg" alt=""></div>
    
    <div class="item" style="--position: 3"><img src="../../assets/img/coll2.jpeg" alt=""></div>
    
    <div class="item" style="--position: 4"><img src="../../assets/img/nav4.jpg" alt=""></div>
     <div class="item" style="--position: 5"><img src="../../assets/img/nav5.jpg" alt=""></div>
    
    <div class="item" style="--position: 6"><img src="../../assets/img/nav1.jpg" alt=""></div> 
    <div class="item" style="--position: 7"><img src="../../assets/img/nav2.jpg" alt=""></div>
    
    <div class="item" style="--position: 8"><img src="../../assets/img/nav3.jpg" alt=""></div>
    
    <div class="item" style="--position: 9"><img src="../../assets/img/nav4.jpg" alt=""></div> 
    <div class="item" style="--position: 10"><img src="../../assets/img/nav5.jpg" alt=""></div>
    
 </div>
    
