<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">Selfie Stand 🤳🏻</h1>
    <br>
    <p style="color: aliceblue;">Selfie stand decoration is a creative way to enhance the fun and photo-taking experience at events 
        like weddings, parties, or corporate gatherings. 
        These stands are often adorned with stylish backdrops, floral arrangements, balloons, and themed props that 
        reflect the event’s mood or theme. A well-decorated selfie stand not only provides a picture-perfect spot for 
        guests but also adds a trendy, interactive element to the event, encouraging people to capture memorable moments.
         It creates a fun focal point where guests can take photos, making the event even more engaging and shareable.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of selfie" [src]="course"></app-decoration-card>
    </div>
    