<section class="sec-03">
  <div class="container">
    <h3 class="section-title" style="color: aliceblue;">Follow Us On</h3>
    <div class="content">
      <div class="media-info">
        <ul>
        
          <li><a href="https://youtube.com/@abhaygarwad3240?si=YHG62IhTl7bsdwSb" target="_blank" title="YouTube"><i class="fa fa-youtube-play"></i>Abhay_Grawad</a></li>
          <li><a href="https://www.facebook.com/abhay.garwad.98?mibextid=ZbWKwL" target="_blank" title="Facebook"><i class="fa fa-facebook"></i>Abhay_Grawad</a></li>
          <li><a href="https://www.instagram.com/abhay_events_44?igsh=Zjl0YTZwdzk1a2Rn" target="_blank" title="Instagram"><i class="fa fa-instagram"></i>Abhay_Events</a></li>
          <li><a href="https://www.instagram.com/abh_ay_gar_wad?igsh=MXhhbHJ1ZHdlbm85cw==" target="_blank" title="Instagram"><i class="fa fa-instagram"></i>Abhay_Grawad</a></li>
          <li><a href="https://www.linkedin.com/in/varun-sg-416566252" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i>Varun_Gulaganji</a></li>
         


        </ul>
      </div>
      <div class="image">
        <img src="../../assets/img/contact1.jpeg" alt="City Image" />
      </div>
    </div>
  </div>
</section>
