<div class="container-fluid">
<br>
<h1 style="color: aliceblue;">Stage Decoration 🌃</h1>
<br>
<h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>
<p style="color: aliceblue;">Stage decoration plays a vital role in setting the tone and atmosphere for events, 
    whether it's a wedding, concert, or theatrical performance. 
    It transforms the space, creating a captivating backdrop that enhances the overall theme and mood. 
    From elegant drapes and floral arrangements to lighting and props, stage decoration adds visual appeal 
    and helps draw attention to the performers or the main focus of the event. A well-decorated stage not
    only beautifies the setting but also creates memorable moments, leaving a lasting impression on the 
    audience.</p>
<br><br>

<app-decoration-card *ngFor="let course of stage" [src]="course"></app-decoration-card>
</div>
