<div class="About">

<div class="container">
  <div class="image-section">
    <img src="../../assets/img/AbhaynFather.jpg" alt="Description of image" class="rounded-circle">
    <h3 style="color: purple; ">Abhay B G </h3>
    <pre style="font-size: 18px; text-decoration: underline; color: aliceblue;">Co-Founder Of Event Management </pre>
  </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="content-section">
    <h1 style="color: aliceblue;"><span >About Me</span></h1>
    <p style="font-family: 'Times New Roman'; font-size: 19px; color: aliceblue;">Hey there stranger, welcome! My name is Abhay, and I'm the <span style="color: goldenrod;">Co-founder of Abhay Event Management</span>.
<br><br>
With a background in 10 years, I embarked on my career in event management 
with a vision to create exceptional and memorable experiences for every client. Over the years, I’ve had the pleasure of working on a diverse range of events,
 from elegant weddings and corporate gatherings to vibrant social celebrations.
      <br><br>
      Event planning isn’t just a profession for me—it’s a passion. 
      I thrive on the thrill of bringing creative ideas to life and ensuring every event is 
      executed with precision and flair. 
<br><br>
My approach is centered around 
understanding each client's unique vision and delivering personalized, high-quality service.
    
    </p>
  </div>
</div>




<div class="aboutcompany">
<app-aboutcompany></app-aboutcompany>
</div>

<div class="aboutchoose">
<app-aboutchoose></app-aboutchoose>
</div>

<div class="aboutfooter">
  <app-aboutfooter></app-aboutfooter>

</div>

</div>