<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">Mandap Decoration 🎆</h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>

    <p style="color: aliceblue;">Mandap decoration is a central element in traditional Indian weddings, where the wedding rituals 
        are performed. The mandap, often adorned with vibrant flowers, drapes, and ornate structures, 
        serves as a sacred space for the couple and symbolizes purity, prosperity, and divine blessings. 
        Decorations typically include elaborate floral arrangements, elegant fabrics, hanging lanterns, 
        and sometimes intricate carvings or pillars. The design of the mandap reflects cultural significance while creating a 
        beautiful, spiritual setting that enhances the significance of the marriage ceremony, making it a visually stunning focal point
         of the celebration.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of mandap" [src]="course"></app-decoration-card>
</div>
     