<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">House Lighting ⚡</h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>

    <p style="color: aliceblue;">House lighting decoration is a beautiful way to enhance the ambiance and bring warmth and charm to any home, especially during festivals, weddings,
         or special occasions. From fairy lights draped along windows and balconies to lanterns, chandeliers,
          and spotlights illuminating key areas, lighting adds a magical glow to the space. 
          Outdoor lighting can highlight architectural features, while indoor lighting creates cozy, 
          welcoming vibes. Thoughtfully arranged lights can transform the entire look of a house,
           making it vibrant and festive, while also adding a touch of elegance and sophistication.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of houselight" [src]="course"></app-decoration-card>
    </div>
    