<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">Couple Entrance👫</h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>
   
    <p style="color: aliceblue;">Couple entrance decoration is a key element in weddings, designed to create a grand and memorable moment as the bride and groom make 
        their entrance. It often features elegant floral arches, draped fabrics, lighting effects, and
         personalized elements such as monograms or signs. The decor sets the mood for the event and adds a 
         touch of glamour and romance, ensuring the couple’s arrival is highlighted in a special and breathtaking way. 
         Creative entrance decorations not only enhance the overall wedding ambiance but also leave a lasting impression on guests.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of couple" [src]="course"></app-decoration-card>
    </div>
    