<!-- <div class="card col-lg-4 col-md-4 col-sm-12 col-12 ">
    <div class="card-header">
        <img src="../../assets/img/{{course.image}}" alt="image"  class="rounded" alt="" height="100%" width="100%">
    </div>
    <br><br>
    <div class="card-footer" >
        <h6>{{course.name}}</h6>
        <div class="starcomponent">
            <b>Review:</b> <app-star [src]="course"></app-star>
        </div>        
        <b>&#8377;{{course.price}}</b><del>&#8377;{{course.orgprice}}</del><br><br>
       
    </div>
</div> -->



<div class="card col-lg-3 col-md-3 col-sm-12 col-12 ">
   
    <div class="card-body" >
        <img src="../../assets/img/{{course.image}}" class="rounded" alt="" height="100%" width="100%">
    </div>
    <div class="card-footer" >
        
        <h6>{{course.name}}</h6>
        
        <div class="starcomponent" >
            <b>Review:</b> <app-star [src]="course"></app-star>

      </div>
        <b>&#8377;{{course.price}}</b><del>&#8377;{{course.orgprice}}</del>
        <br>
       
    </div>
</div>

<!-- <div class="container ">
    <div class="card__container">
       <div class="card__article">
          <img src="../../assets/img/{{course.image}}" alt="image" class="card__img">

          <div class="card__data">
             <span class="card__description">{{course.name}}</span>
             <b class="card__title"> Review: <app-star [src]="course"></app-star></b>
             <a  class="card__button"><b>&#8377;{{course.price}}</b><del>&#8377;{{course.orgprice}}</del></a>
          </div>
        </div>

       </div>
</div> -->




 




 