<div class="container-fluid">
    <br>
    <h1 style="color: aliceblue;">House Decoration 🏘</h1>
    <br>
    <h2 style="color: rgb(175, 1, 249);">Note: All the prices below may vary seasonally.</h2>

    <p style="color: aliceblue;">House decoration is the art of enhancing the interior and exterior spaces of a home to reflect personal style, 
        comfort, and functionality. From choosing the right furniture, color schemes, and decorative elements 
        like artwork, plants, and lighting, every detail contributes to creating a harmonious living environment. 
        Thoughtful house decoration not only beautifies the space but also creates a welcoming, cozy atmosphere,
         making the home a true reflection of the people living in it. 
         Whether it's minimalist, traditional, or modern, well-planned decor adds both aesthetic appeal and
          a sense of warmth to any house.</p>
    <br><br>
    
    <app-decoration-card *ngFor="let course of housedeco" [src]="course"></app-decoration-card>
    </div>
    